<div class="navigation">
  <div class="row"> 
    <ul class="top-nav">
      <li class="text-left"> <%= link_to image_tag("science3x.png"), users_broscience_path %></li>
      <li class="text-center"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </li>
      <li class="text-right"> <%= link_to image_tag("settings3x.png"), users_settings_path %></li>
    </ul>
  </div>

  <ul class="bottom-nav">
    <li> <%= link_to 'Home', users_dashboard_path %> </li>
    <li> <%= link_to 'Training', users_trainingindex_path %> </li>
    <li> <%= link_to 'Dieet', users_diet_path %> </li>
    <li> <%= link_to 'Begrippen', users_notions_path %> </li>
  </ul>
</div>