<div class="trainingindex">
  
  <%= render 'navigation' %>

  <div class="intro">
    <h1> Trainingen </h1> 
  </div>

  <div class="trainingblock">
    <a href="trainingshow" class="fill-div">
    <div class="col-sm-3">
      <%= image_tag "bench.jpg", class:"trainingimg" %>
    </div>

    <div class="col-sm-9">
      <h2>Training 1 - Push</h2>
      <h3>Borst, schouders, Triceps</h3>

      <div class="trainingdetails">
        <h2 style="margin-left: 30px;"> <%= image_tag 'exercise3x.png' %> 6 </h2>
        <h2> <%= image_tag 'clock3x.png' %> 60 </h2>
      </div>
    </div>
    </a>
  </div>

  <div class="trainingblock">
    <a href="trainingshow" class="fill-div">
    <div class="col-sm-3">
      <%= image_tag "deadlift.jpg", class:"trainingimg" %>
    </div>

    <div class="col-sm-9">
      <h2>Training 2 - Pull</h2>
      <h3>Rug, Biceps</h3>

      <div class="trainingdetails">
        <h2 style="margin-left: 30px;"> <%= image_tag 'exercise3x.png' %> 6 </h2>
        <h2> <%= image_tag 'clock3x.png' %> 70 </h2>
      </div>
    </div>
    </a>
  </div>

  <div class="trainingblock">
    <a href="trainingshow" class="fill-div">
    <div class="col-sm-3">
      <%= image_tag "squat.jpg", class:"trainingimg" %>
    </div>

    <div class="col-sm-9">
      <h2>Training 3 - Legs</h2>
      <h3>Benen</h3>

      <div class="trainingdetails">
        <h2 style="margin-left: 30px;"> <%= image_tag 'exercise3x.png' %> 5 </h2>
        <h2> <%= image_tag 'clock3x.png' %> 50 </h2>
      </div>
    </div>
    </a>
  </div>

</div>